# Cache Python
**/__pycache__
**/*.pyc

# Dados gerados
app/rag/vectorstore/
app/data/sales/sales.duckdb

# Ambiente/versionamento
.venv
.git
.gitignore
.env
.gitkeep
README.md

# Docker
Dockerfile
.dockerignore