body{
    max-width:700px;
    margin:auto;
    font-family:Arial;
    padding:30px;
}

#chat{
    height:500px;
    overflow:auto;
    border:1px solid #ddd;
    padding:10px;
    margin-bottom:10px;
}

input{
    width:80%;
}